<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">BadCodePractice</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler"/>

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ef-core-challenge">
                <span class="bi bi-lightning-charge-fill-nav-menu" aria-hidden="true"></span> EF Core
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="caching-challenge">
                <span class="bi bi-cache-nav-menu" aria-hidden="true"></span> Caching
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memory-leak-challenge">
                <span class="bi bi-memory-nav-menu" aria-hidden="true"></span> Memory Leak
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="async-misuse-challenge">
                <span class="bi bi-stopwatch-fill-nav-menu" aria-hidden="true"></span> Async Misuse
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="concurrency-challenge">
                <span class="bi bi-diagram-3-fill-nav-menu" aria-hidden="true"></span> Concurrency
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="di-lifetime-challenge">
                <span class="bi bi-box-seam-fill-nav-menu" aria-hidden="true"></span> DI Lifetime
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="allocation-challenge">
                <span class="bi bi-recycle-nav-menu" aria-hidden="true"></span> Allocation
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="resiliency-retry-challenge">
                <span class="bi bi-shield-check-nav-menu" aria-hidden="true"></span> Resiliency/Retry
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="exception-handling-challenge">
                <span class="bi bi-exclamation-octagon-nav-menu" aria-hidden="true"></span> Exception Handling
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="serialization-challenge">
                <span class="bi bi-filetype-json-nav-menu" aria-hidden="true"></span> Serialization
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="logging-challenge">
                <span class="bi bi-journal-code-nav-menu" aria-hidden="true"></span> Logging
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="regex-challenge">
                <span class="bi bi-code-slash-nav-menu" aria-hidden="true"></span> Regex
            </NavLink>
        </div>
    </nav>
</div>
